body {
    background: linear-gradient(135deg, #ffd6e0, #caffbf);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* APP */
.app-container {
    max-width: 450px;
    margin: 20px auto;
    background: white;
    padding: 18px;
    border-radius: 22px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* TÍTULO */
h1 {
    text-align: center;
    color: #6d6875;
}

/* INPUTS */
input, select {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* BOTONES GENERALES */
button {
    width: 100%;
    padding: 10px;
    background: #a0c4ff;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
}

button:hover {
    background: #89b4fa;
}

/* CARTERAS BLOQUE */
.card-section {
    background: #f8f9fa;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
}

/* FILA SUPERIOR */
.top-row {
    display: flex;
    gap: 6px;
    margin-bottom: 8px;
}

.top-row input {
    flex: 2;
    min-width: 220px;
}

/* CREAR */
.small-create {
    width: 80px;
    font-size: 12px;
    padding: 8px;
}

/* RESET GENERAL */
.small-reset {
    width: 110px;
    font-size: 11px;
    padding: 6px;
    background: #ff8fab;
    color: white;
}

.small-reset:hover {
    background: #ff6b8a;
}

/* SELECT + ICONOS */
.row-select {
    display: flex;
    gap: 5px;
}

.small-btn {
    width: 45px;
    padding: 8px;
}

/* BASURA */
.borrar {
    background: #ffadad;
}

.borrar:hover {
    background: #ff8b8b;
}

/* RESET CARTERA */
.reset {
    background: #ffadad;
    color: white;
}

.reset:hover {
    background: #ff8b8b;
}

/* LISTA GASTOS */
#listaGastos {
    max-height: 260px;
    overflow-y: auto;
    padding: 0;
}

li {
    list-style: none;
    background: #f8f9fa;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

li button {
    margin-left: 5px;
    border: none;
    border-radius: 6px;
    padding: 4px 6px;
}

/* BALANCE */
#balance {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}

/* SEPARADORES */
hr {
    margin: 10px 0;
}